<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

<form action="/login/on" method="post">
    <div><label> User Name : <input type="text" name="username"/> </label></div>
    <div><label> Password: <input type="password" name="password"/> </label></div>

    <div><input type="submit" value="Sign In"/></div>
</form>

<form action="/logout" method="post">

    <input type="submit" value="Sign Out"/>
</form>

</br>
<a href="/registration">Регистрация</a>
</br>
</br>
<a href="/">Вернуться в окно приветствия</a>

</body>
</html>