<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

<!-- Include _menu.html -->
<th:block th:include="/_menu"></th:block>

<h1>Login</h1>

<!-- /login?error=true -->
<div th:if="${#request.getParameter('error') == 'true'}"
     style="color:red;margin:10px 0px;">
    Login Failed!!!<br />
    Reason :
    <span th:if="${#session!= null and #session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION') != null}"
          th:utext="${#session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION').message}">
                Static summary
         </span>

</div>

<h3>Enter user name and password:</h3>
<form class="loginform" name='loginForm' >
    <div class="userInfo">
        <table>
            <tr>
                <td>User:</td>
                <td><input type='text' name='username' value=''></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type='password' name='password' /></td>
            </tr>
            <tr>
                <td>Remember Me?</td>
                <td><input type="checkbox" name="remember-me" /></td>
            </tr>
            <tr>
                <td><button class="sbmt" type="submit">Sign In</button></td>>

<!--                <td><input class="sbmt" name="submit" type="submit" value="Sign In" /></td>-->
            </tr>
        </table>
    </div>
</form>


<script>
    window.addEventListener("DOMContentLoaded", () => {
        const form = document.querySelector(".loginform");
        const usernameInpt = document.querySelector("div.userInfo input[name='username']");
        const passwordInpt = document.querySelector("div.userInfo input[name='password']");



        form.addEventListener("submit", e => {
            e.preventDefault();


            const data = {
                loginName: usernameInpt.value,
                password: passwordInpt.value
            };

            fetch("/j_spring_security_check", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(data)
            })
                .then(response =>
                    response.ok ? response.json() : ( console.log("Ошибка сервера"))
                )
                .then(json => {

                    ;
                })
                .catch(() => {
                    console.log("Ошибка. Обратитесь к администратору");
                });
        });
    });

</script>
</body>
</html>