<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>registration</title>
</head>
<body>

<!-- Include _menu.html -->
<th:block th:include="/_menu"></th:block>


<h1>Registration</h1>

<h3>Enter user name and password:</h3>

<form action="/add_user" method="post">
    <table>
        <tr>
            <td>User Name:</td>
            <td><input type='text' name='username' value=''></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type='password' name='password' /></td>
        </tr>
        <tr>
            <td>Confirm password:</td>
            <td><input type='password' name='confirm_password' /></td>
        </tr>
        <tr>
            <td><input name="submit" type="submit" value="Sign Up" /></td>
        </tr>
    </table>
</form>


<form action="#" th:action="@{/hello}" th:object="${userForm}" method="post">
    <table>
        <tr>
            <td>User name:</td>
            <td><input type="text" th:field="*{username}" /></td>
            <td th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Name Error</td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type="password" th:field="*{password}" /></td>
            <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</td>
        </tr>
        <tr>
            <td>Confirm password:</td>
            <td><input type="password" th:field="*{passwordConfirm}" /></td>
            <td th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}">passwordConfirm Error</td>
        </tr>
        <tr>
            <td><button type="submit">Submit</button></td>
        </tr>
    </table>
</form>

</body>
</html>